html {
    background-color: white;
}

body {
    display: block;
    margin: 10px;
    text-align: center;
}

table {
    margin: auto;
}

.player1 {
    background-color: yellow;
    border: 3px solid orange;
}

.player2 {
    background-color: red;
    border: 3px solid brown;
}

.board {
    text-align: center;
    margin: auto;
    padding: 0;
    display: inline-block;
}

.board-column {
    display: inline-block;
}

.disc {
    height: 39px;
    width: 39px;
    border-radius: 100%;
    margin: 1px;
    margin-left: 2px;
    position: absolute;
}

.column {
    padding: 0;
    margin: 10px;
    height: 300px;
    width: 49px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: Brown ;
}

.column .disc {
    position: absolute;
}

.column-button {
    height: 50px;
    width: 50px;
    border: 6px solid greenyellow;
    border-radius: 20px;
    background-color: darkblue;
    margin: 0;
    display: inline-block;
}

.highlighted {
    background-color: royalblue;
    border-color: gold;
}